<div class="row">
  <div class="col-12 col-md-10 mb-5" [@showForm]="showForm ? 'open' : 'closed'">
    <div *ngIf="loaded && showForm">
      <h1 class="col-12">Take our survey</h1>
      <form [formGroup]="surveyForm">
        <mat-horizontal-stepper linear>
          <mat-step *ngFor="let q of surveyQuestions; let i=index;" label="Question {{i+1}}"
            [stepControl]="questionGroups.get[i]">
            <div formArrayName="questions">
              <h2>{{q.text}}!</h2>
              <div class="col-8" [formGroupName]="i">
                <input type="hidden" formControlName="questionKey" [ngModel]="q.questionKey" />
                <mat-radio-group name="answer" formControlName="answer" aria-label="Select a number between 1 and 5">
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="mt-3">
                <button *ngIf="i>0" mat-button color="primary" matStepperPrevious type="button">Previous</button>
                <button *ngIf="i!=surveyQuestions.length-1" mat-button color="primary" matStepperNext
                  type="button">Next</button>
                <button (click)="submitSurvey()" type="button" mat-button color="primary"
                  *ngIf="i==surveyQuestions.length-1">Submit</button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>

  <div class="col-6 mb-5" [@showResult]="submitted ? 'show' : 'hide'">
    <div *ngIf="loaded && submitted">
      <h1>Your Result</h1>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>done_all</mat-icon></div>
          <mat-card-title>Thank You</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <b>Your average score:</b> {{userAvgScore}}<br />
            <b>Average score of other users:</b> {{totalAvgScore}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col-4 mt-5 mb-5 text-center ml-auto mr-auto" *ngIf="!loaded">
    <mat-spinner color="accent"></mat-spinner>
  </div>
