@import '~@angular/material/theming';
@include mat-core();

@import './pa-variables';

$primary: mat-palette($md-papalette);
$accent: mat-palette($md-papalette, 800, 900, A700); // or A200, A100, A400 ?
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
