/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

// Imports the bootstrap stuff that we want.
@import "./styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "./styles/reset";

@import './styles/material-theme';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
